<h1>Name - <%= @article.name %></h1>
<p>Category - <%= @article.category %></p>
<p>Unit - <%= @article.unit %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
  <li>
    <%= button_to 'Destroy', article_path(@article), method: :delete %>
  </li>
</ul>

<br>
<%= link_to "Home", articles_path %>